@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #fff;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .topnav {
    overflow: hidden;
    background-color: rgba(78, 89, 140, 1);
    height: 60px;
  }

  @keyframes float {
    0% {
      
      transform: translatey(0px);
    }
    50% {
      
      transform: translatey(-20px);
    }
    100% {
      
      transform: translatey(0px);
    }
  }

  .photo .app1{
    width: 30%;
    height: 30%;
    float: left;
    margin-right: 0px;
    padding-top: 0px ;
    padding-left: 60px;
    height: 500px;
    width: 600px;
    transform: translatey(0px);
	  animation: float 6s ease-in-out infinite;
    
  }
  
  .headerlogo {
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 0%;
    overflow: auto;
    margin-top: -60px;
    
}

  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 40px 16px;
    padding-top: 20px;
    text-decoration: none;
    font-size: 14px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  .BIGTEXT p {
    float: left;
    color: #050505;
    text-align: left;
    padding-left: 60px;
    padding-top: 0px;
    text-decoration: none;
    font-size: 50px;
    font-weight: 200;
    margin-top: 40px;
    margin-bottom: 30px;

  }

  .paragraph {
    float: left;
    padding-right: 900px;
    padding-top: 20px;
    padding-left: 60px;
    font-size: 16px;
    font-weight: 400;
    color: #050505;

  }
  code {
    background-color: #EEEEEE;
    }

  code.whycode{
  background-color: #fff;
  font-weight: bold;
  font-size: x-large;

  }  
  .button1 {
   background-color: #FCAF58;
    width: 150px;
    height:50px;
    margin-top: 0px;
    margin-left: 0px;
    border-radius: 10px;
    border-width: 0px;
    box-shadow: 2px 2px 5px grey;
  }
  .hero1 {
    float: right;
    width: 600px;
    height: 350px;
    border-radius: 0%;
    overflow: auto;
    margin-top: -280px;
    margin-left: 700px;
    margin-right: 100px;
  }
  .toptable {
    float: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 6px grey ;
    border-bottom: 3px solid #2b2166;
    border-spacing: 0px;
    /*border: 1px solid #ffffff;*/
  
  }

  th {
    background-color: rgba(78, 89, 140, 1);
    border: 0.5px solid #cccccc;
    color: white;
    height: 50px;
  }
  .toptable td{
    border: 1px solid #DDDDDD;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    min-width: 200px;
    font-weight:400;
    
  }
  tr{
    height: 50px;
  }
  .toptable tr:nth-child(odd) {
    background-color:#EEEEEE;
  }
  .interval{
    color: rgba(78, 89, 140, 1);
    text-align: center;
  }

  .tabletopic{
    position: static;
    float: center;
    text-align: left;
    margin-top: 490px;
    margin-left: 300px;
    margin-bottom: 0px;
  }


  .headsample{
    float: center;
    margin-top: 490px;
    margin-bottom: 0px;
    font-size: 30px;
  }
  
  .BIGTEXT1{
    width: 35%;
    float: right;
    margin-top: 0px;
    margin-bottom: 0%;
    font-size: 72px;
    font-weight: 200;
}

.app1{
  padding-top: 0px ;
  padding-left: 60px;
  height: 500px;
  width: 650px;
}

.INDEX{
  margin-top: 120px;
  margin-left: 60px;
  margin-right: 60px;
  height: 110vh;
}
.photo{
  margin-top: 70px;
  float: left;
  width: 65%;
}
.tab1{
  margin-top: -20px;
  float: right;
  width: 35%;    
} 
.p1{
  text-align: left;
}
.p2{
  text-align: justify;
}
.p3{
  text-align: right;
}
mark.red{
  color: #FF312E;
  background: none;
}
mark.wide{
  background-color: #EEEEEE;
  width: 200px;
}
.form{
  margin-left: 600px;
  width: 30%;
  height: 100vh;
  margin-right: 60px;

}
.form h2{
  text-align: center;
}

input[type=text] {
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
select {
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type=checkbox] {
  width: 70px;
  text-align: center;
  border-radius: 2px;
  margin-right: -10px;
  box-sizing: border-box;
}

input[type=radio] {
  width: 50px;
  margin: 10px 0;
  margin-left: 50px;
  box-sizing: border-box;
}
input[type=submit] {
  font-weight: 700;
  background-color:#FCAF58;
  width: 100px;
  border-radius: 10px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-width: 0px;
  margin-left: 200px;
}

  input[type=reset] {
    font-weight: 700;
    background-color:#DDDDDD;
    width: 100px;
    border-radius: 10px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-width: 0px;
    float: right;
}
textarea {
  width: 300px;
  margin: 8px 0;
  box-sizing: border-box;
  resize: vertical;
}






